#cactus {
  max-width: 230px;
  z-index: -1;
}

#hi-there {
  max-width:250px;
}

#im-rachel {
  max-width: 175px;
}

#arrow {
  max-width: 50px;
  float: left;
}

#title {
  font-size: 3em;
  margin-bottom: -1em;
  opacity: 1.0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: right;
}

#subtitle {
  font-size: 2em;
  margin-top: 3em;
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.right-align {
  text-align: right;
}

.top {
  position:absolute;
  top:0;
  right:0;
}

* {
  font-family: "Courier New", Courier, monospace;
}

li {
  font-size: .85em;
}

a {
    color: #f20d0d;
    text-decoration: none;
}

.text-column {
  background-color: white;
  opacity: 0.98;
  z-index: 1;
  padding-left: 2%;
  min-width: 250px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 5%;
}

.flex-column {
    width: 80%;
    height: auto;
    margin: 0% 20% 0% 5%;
}

.flex-cactus-column {
    width: 17%;
    height: auto;
}

.flex-text {
  vertical-align: top;
  width: 40%;
  min-width: 250px;
  height:auto;
  display:inline-block;
  padding: 4%;
}

.sub-text {
  font-size: .8em;
}

.top-padding {
  padding-top: 40px;
}
